.time-dial {
  font-size: 300px;
  width: 1em;
  height: 1em;
  position: relative;
  line-height: 1;
  color: inherit;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%; }
  .time-dial::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    border: .04em solid;
    border-radius: 100%; }
  .time-dial .lcd {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 80%;
    font-family: "DIN Condensed", Impact, Helvetica, sans-serif;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: top .3s ease-out, font-size .3s ease-out;
            transition: top .3s ease-out, font-size .3s ease-out;
    text-shadow: 0.015em -0.015em 0 white, -0.015em 0.015em 0 white, 0.015em 0.015em 0 white, -0.015em -0.015em 0 white, -0.015em 0 0 white, 0.015em 0 0 white, 0 0.015em 0 white, 0 -0.015em 0 white; }
  .time-dial .time {
    font-size: 35%; }
    .time-dial .time span {
      position: relative;
      z-index: 1; }
  .time-dial .seconds,
  .time-dial .meridiem {
    font-size: 15%;
    font-family: "DIN Alternate", Helvetica, sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -25%);
        -ms-transform: translate(-50%, -25%);
            transform: translate(-50%, -25%); }
  .time-dial .seconds {
    top: 100%;
    -webkit-transition: top .3s ease-out;
            transition: top .3s ease-out; }
  .time-dial .meridiem {
    bottom: calc(0% - 1em); }
  .time-dial .crown {
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    left: 0;
    -webkit-transform-origin: right center;
        -ms-transform-origin: right center;
            transform-origin: right center;
    pointer-events: none;
    font-size: 12.5%; }
    .time-dial .crown span {
      border-radius: 100%;
      position: absolute;
      top: 0;
      right: 0;
      -webkit-transform: translate3d(50%, -50%, 0);
              transform: translate3d(50%, -50%, 0);
      -webkit-transform-origin: -.5em -.5em 0;
          -ms-transform-origin: -.5em -.5em 0;
              transform-origin: -.5em -.5em 0;
      pointer-events: auto; }
    .time-dial .crown.hour span {
      background: #fff;
      box-shadow: 0 0 0 .15em;
      width: 1em;
      height: 1em; }
    .time-dial .crown.minute span {
      box-shadow: 0 0 0 .15em #fff;
      background: currentColor;
      width: .9em;
      height: .9em; }
  .time-dial.active-touch .lcd {
    top: -10%;
    font-size: 120%;
    background: rgba(0, 0, 0, 0.05);
    padding-top: .3em;
    pointer-events: none;
    z-index: 1;
    margin: 0 -100%;
    right: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center;
    -webkit-backdrop-filter: blur(0.03em);
            backdrop-filter: blur(0.03em); }
  .time-dial.active-touch .meridiem {
    bottom: 57.5%; }
  .time-dial.active-touch .crown span {
    background: #10cddf; }

.time-dial.clock-mode .time span {
  -webkit-animation: fadeIn alternate .5s linear infinite;
          animation: fadeIn alternate .5s linear infinite; }
.time-dial.clock-mode .crown {
  -webkit-transition: .3s linear;
          transition: .3s linear; }
  .time-dial.clock-mode .crown::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    height: 40%;
    padding: .01em;
    background-color: red;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: .2em; }
  .time-dial.clock-mode .crown.hour::after {
    padding: .015em; }

.x-ray .crown {
  background: rgba(0, 0, 0, 0.2); }

/*# sourceMappingURL=time-dial.css.map */