// keyframes
@keyframes floating {
    0% {transform:translateY(0);}
    50% {transform:translateY(-30%);}
    100% {transform:translateY(0);}
}

@keyframes flexGrow-0-1 {
    from {flex: 0;}
    to {flex: 1;}
}

@keyframes flexShrink-1-0 {
    from {flex: 1;}
    to {flex: 0;}
}

@keyframes flexGrow-1-2 {
    from {flex: 1;}
    to {flex: 2;}
}

@keyframes flexShrink-2-1 {
    from {flex: 2;}
    to {flex: 1;}
}



// utility classes
.floating {
    animation-name:floating;
    animation-duration:2s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}
