main > header:not([class*="bg-"]) {
    background: mix($grey-1, $light, 50%);
    color: $base-mix;
}

.fa {
    color: inherit;
    background: transparent;
    &.active {
        color: $active;
    }
}
.main-menu {
    background: $base-dark;
    color: set-text-color($base-dark);
    header,
    footer {
        background: rgba($lighter, .35);
    }
    li + li {
        border-color: rgba($light, .15);
    }
}

html.dark {
    background: $dark;
    body {
        background: $dark;
        color: $light;
        main:not(.splash) {
            background: $dark;
            color: $light;
        }
        section {
            border-color: mix($darker, $light, 80%) $darker $darker mix($darker, $light, 85%);
            &.done:not(.overdue),
            &.spawned {
                background: mix($dark, $base, 90%); //rgba($base, .1);
                .info {
                    background: mix($dark, $base, 90%); //rgba($base, .1);
                }
            }
            &.overdue,
            &.alert {
                background: mix($dark, $alert, 90%); //rgba($alert, .1);
                .info {
                    background: mix($dark, $alert, 90%); //rgba($alert, .1);
                }
            }
            .info {
                background: $dark;
                color: set-text-color($dark);
            }
        }
        footer {
            box-shadow: 0 1px 0 0 rgba($light, .1) inset, 0 -1px 0 0 rgba($darker, .1);
        }
    }
    input, button, .button, textarea, select {
        background: rgba($light, .25);
        color: $light;
    }
    .has-pointer::after {
        border-bottom-color: $dark;
    }
    .drop-menu .menu-items {
        color: $grey-5;
        background: $dark;
        &::before {
            border-bottom-color: $base-mix;
        }
        &::after {
        	border-bottom-color: $dark;
        }
    }
    .grid-picker {
        background: $light;
        color: $dark;
        .item {
            background-color: $grey-1;
        }
    }
    .empty::after {
        color: $base-mix;
    }
    .add-another-course .add-another-course-modal {
        background: $dark;
    }
}

html.light {
    background: $light;
    body {
        color: $dark;
        background: $lighter;
        main:not(.splash) {
            color: $dark;
            background: $lighter;
        }
        section {
            border-color: $grey-1;
            &.done:not(.overdue) .details,
            &.spawned .details {
                border-color: $lighter;
                color: mix($light, $base, 10%);
            }
            &.overdue .details,
            &.alert .details {
                border-color: $lighter;
                color: $alert;
            }
            > div {
                background: $lighter;
                color: set-text-color($lighter);
            }
        }
    }
    input, button, .button, textarea, select {
        background: rgba($dark, .25);
        color: $dark;
    }
    .has-pointer::after {
        border-bottom-color: $lighter;
    }
    .drop-menu .menu-items {
        background: $dark;
        color: $light;
        &::before {
            border-bottom-color: $base-mix;
        }
        &::after {
        	border-bottom-color: $dark;
        }
    }
    .grid-picker {
        background: $dark;
        color: $light;
        .item {
            background-color: $grey-8;
        }
    }
    .empty::after {
        color: $grey-2;
    }
    .add-another-course .add-another-course-modal {
        background: $light;
    }
}
