.time-dial {
    $outline: .015em;
    $-outline: -.015em;
    $outline-color: white;
    $accent-color: #10cddf;

    font-size: 300px;
    width: 1em;
    height: 1em;
    position: relative;
    line-height: 1;
	color: inherit;
    background: rgba(#fff, .3);
    border-radius: 100%;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: scale(1.05);
        border: .04em solid;
        border-radius: 100%;
    }
    .lcd {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 80%;
        font-family: "DIN Condensed", Impact, Helvetica, sans-serif;
        user-select: none;
        transition: top .3s ease-out, font-size .3s ease-out;
		text-shadow:
				$outline $-outline 0 $outline-color,
				$-outline $outline 0 $outline-color,
				$outline $outline 0 $outline-color,
				$-outline $-outline 0 $outline-color,

				$-outline 0 0 $outline-color,
				$outline 0 0 $outline-color,
				0 $outline 0 $outline-color,
				0 $-outline 0 $outline-color;
    }
    .time {
        font-size: 35%;
		span {
			position: relative;
			z-index: 1;
		}
    }
    .seconds,
    .meridiem {
        font-size: 15%;
        font-family: "DIN Alternate", Helvetica, sans-serif;
        text-transform: uppercase;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -25%);
    }
    .seconds {
        top: 100%;
        transition: top .3s ease-out;
    }
    .meridiem {
        bottom: calc(0% - 1em);
    }
    .crown {
        position: absolute;
        top: 0;
        right: 50%;
        bottom: 0;
        left: 0;
        transform-origin: right center;
        pointer-events: none;
		font-size: 12.5%;
        span {
            border-radius: 100%;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate3d(50%, -50%, 0);
            transform-origin: -.5em -.5em 0;
            pointer-events: auto;
        }
        &.hour span {
            background: #fff;
            box-shadow: 0 0 0 .15em;
            width: 1em;
            height: 1em;
        }
        &.minute span {
            box-shadow: 0 0 0 .15em #fff;
            background: currentColor;
            width: .9em;
            height: .9em;
        }
    }
	&.active-touch {
        .lcd {
    		top: -10%;
    		font-size: 120%;
            // color: #fff;
            background: rgba(#000, .05);
            padding-top: .3em;
            pointer-events: none;
    		z-index: 1;
            margin: 0 -100%;
            right: 50%;
            left: 50%;
            transform: translateY(-50%);
            text-align: center;
            backdrop-filter: blur(.03em);
        }
        .meridiem {
            bottom: 57.5%;
        }
		.crown span {
			background: $accent-color;
		}
	}
}

.time-dial.clock-mode {
    .time span {
        animation: fadeIn alternate .5s linear infinite;
    }
    .crown {
        transition: .3s linear;
        &::after {
            content: '';
            position: absolute;
            left: 100%;
            top: 0;
            height: 40%;
            padding: .01em;
            background-color: red;
            transform: translateX(-50%);
            border-radius: .2em;
        }
        &.hour::after {
            padding: .015em;
        }
    }
}

.x-ray .crown {
    background: rgba(#000, .2);
}
