$dark: #5d5d5f;
$light: #fff;
$accent-color: #00BCD4;
$timing: .3s;

@keyframes pulse {
  0% {transform: translate(-50%, -50%) scale(1);}
  51% {transform: translate(-50%, -50%) scale(1.65);}
  100% {transform: translate(-50%, -50%) scale(1);}
}

@keyframes pulse-alt {
  0% {transform: translate(0, 10%) scale(1);}
  51% {transform: translate(0, 10%) scale(1.65);}
  100% {transform: translate(0, 10%) scale(1);}
}

.time-dial {
  font-size: 300px;
  width: 1em;
  height: 1em;
  position: relative;
  line-height: 1;
  color: inherit; /* inherit from parent element or set explicitly: $light */
  border-radius: 100%;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(1.05);
    border: .04em solid;
    border-radius: 100%;
  }
  .lcd {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80%;
    padding: .3em .2em;
    border-radius: 1em;
    font-family: "DIN Condensed", Impact, Helvetica, sans-serif;
    user-select: none;
    pointer-events: auto;
    cursor: pointer;
    -webkit-font-smoothing: subpixel-antialiased;
    transition:
      color $timing ease-out,
      background $timing ease-out,
      top $timing ease-out;
    &.toggled {
      .meridiem {
        animation: pulse $timing ease-out;
      }
      &.Noon,
      &.Midnight {
        .meridiem {
          animation: pulse-alt $timing ease-out;
        }
      }
    }
    &.Noon,
    &.Midnight {
      .time {
        display: none;
      }
      .meridiem {
        font-size: 25%;
        font-family: inherit;
        position: relative;
        text-transform: capitalize;
        bottom: auto;
        left: auto;
        transform: translate(0, 10%);
      }
    }
  }
  .time {
    font-size: 35%;
    position: relative;
  }
  .meridiem {
    font-size: 15%;
    font-family: "DIN Alternate", Helvetica, sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -50%);
  }
  .crown {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 35%;
    bottom: 50%;
    left: 35%;
    transform-origin: center bottom;
    pointer-events: none;
    font-size: 12.5%;
    span {
      border-radius: 1em;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      pointer-events: auto;
      cursor: pointer;
      /*
      &::after {
         display: none;
         content: attr(beat);
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%) rotate(-45deg);
         font-size: 60%;
         text-transform: uppercase;
      }
      */
    }
    &.hour span {
      background: $accent-color;
      box-shadow: 0 0 0 .15em currentColor;
      width: 1em;
      height: 1em;
    }
    &.minute span {
      box-shadow: 0 0 0 .15em $accent-color;
      background: currentColor;
      width: .9em;
      height: .9em;
    }
    &.second span {
      top: 1em;
      background: currentColor;
      opacity: .35;
      // box-shadow: 0 0 0 .15em currentColor;
      width: .5em;
      height: .5em;
    }
  }

  // TOUCH BOX
  &.active-touch {
    .lcd {
      top: 0%;
      font-size: 45%;
      background: rgba(#000, .05);
      pointer-events: none;
      padding: 0;
      z-index: 1;
      margin: 0 -60%;
      right: 50%;
      left: 50%;
      transform: translateY(-50%);
      text-align: center;
      border-radius: .05em;
      backdrop-filter: blur(.1em);
      &.Noon,
      &.Midnight {
        .meridiem {
          font-size: 60%;
          transform: translate(0, 0);
        }
      }
    }
    .time::before,
    .meridiem::before {
      content: attr(data-title);
      position: absolute;
      -webkit-text-stroke: .125em darken($accent-color, 10%);
      left: 0;
      z-index: -1;
    }
    .time {
      display: inline-block;
      font-size: 60%;
    }
    .meridiem {
      display: inline-block;
      font-size: 35%;
      position:relative;
      bottom: auto;
      left: auto;
      transform: translate(0, 0);
      transition: transform $timing ease-out;
    }
    .crown {
      z-index: 0;
      span {
        background: $dark;
      }
    }
  }
}

/* disable dragging crowns when telling time */
.time-dial.tell {
  .lcd,
  .crown span {
    pointer-events: none;
    cursor: default;
  }
}

/* hide second marker when setting time */
.time-dial.set .crown.second {
  display: none;
}


/*
.time-dial.tell {
  .crown.second {
    transition: $timing linear;
  }
}
.time-dial.tell {
  .time span {
    animation: fadeIn alternate .5s linear infinite;
  }
  .crown {
    transition: $timing linear;
    z-index: 0;
    span {
      opacity: 0;
    }
    &::after {
      content: '';
      position: absolute;
      left: 100%;
      background-color: $dark; //#f06292;
      transform: translateX(-50%);
      border-radius: .2em;
    }
    &.minute::after {
      top: 5%;
      height: 45%;
      padding: .1em;
    }
    &.hour::after {
      top: 15%;
      height: 35%;
      padding: .15em;
    }
  }
}
*/

.x-ray .crown {
  background: rgba($dark, .2);
}
