
<div class="flex-1 flex-column">
    <div class="flex-row flex-none">
        <div>
            <input type="checkbox" ng-model="xRay" />
        </div>
        <div class="flex-row flex-1">
            <div class="flex-1">
                <input type="range" min="1" max="100" ng-model="diameter" style="width:100%" />
            </div>
            <div>
                {{diameter}}
            </div>
        </div>
    </div>
    <div class="flex-2 flex-row justify-content-around align-items-center" ng-class="{'x-ray': xRay}">
        <time-dial time="time" diameter="diameter" unit="unit"></time-dial>
        <!-- <time-dial time="time2" diameter="diameter" unit="unit" mode="mode"></time-dial> -->
    </div>
    <div class="flex-1 flex-row justify-content-around">
        <div>{{format(time) | date: 'dd'}}</div>
    </div>
</div>
