<div class="flex-1 flex-column pad-1">
    <div class="flex-none flex-row justify-content-between">
        <span>{{format(time) | date: 'HH:mm, MMMM d'}}</span>
        <i ng-click="reset()" class="fa fa-history fa-fw fa-lg"></i>
    </div>
    <div class="flex-2 flex-row justify-content-around align-items-center" ng-class="{'x-ray': xRay}">
        <time-dial time="time" diameter="diameter" unit="unit"></time-dial>
    </div>
    <div class="flex-row flex-none justify-content-between">
        <div class="flex-1">
            <input type="range" min="10" max="90" ng-model="diameter" style="width:100%" />
        </div>
        <div class="pad-left-1">
            <label><input type="checkbox" class="toggle" ng-model="xRay" /> X-Ray</label>
        </div>
    </div>
</div>
