<div class="flex-1 flex-column pad-half">
    <div class="flex-none flex-row justify-content-around pad-top-1">
        <div>{{format(time) | date: 'short'}}</div>
    </div>
    <div class="flex-2 flex-row justify-content-around align-items-center" ng-class="{'x-ray': xRay}">
        <time-dial time="time" diameter="diameter" unit="unit"></time-dial>
    </div>
    <div class="flex-row flex-none justify-content-between pad-bottom-1">
        <div class="flex-1">
            <input type="range" min="10" max="90" ng-model="diameter" style="width:100%" />
        </div>
        <div class="pad-left-1">
            <label><input type="checkbox" class="toggle" ng-model="xRay" /> X-Ray</label>
        </div>
        <div class="pad-left-1">
            <i ng-click="resetTime()" class="fa fa-undo fa-fw fa-lg"></i>
        </div>
    </div>
</div>
